ul {
    margin: 0;
    padding: 0;
}

/* as imagens do projeto tratam-se de ícones, então em vez de usar a tag "<img>" 
é comum tratar ícones com o comando "background-image" que adiciona imagens de fundo. */
li {
    list-style-type: none;
    background-color: #4a4a4a;
    margin-bottom: 3px;
    padding: 20px;
    background-image: url('pendente.png'); /* seleciona imagem. */
    background-repeat: no-repeat; /* não deixa imagem se repetir na tela. */
    background-position: 40px center; /* posiciona a imagem. */
}

/* função que faz transição de cores quando passa o mouse. */
li:hover {
    background-color: #6e6d6e;   
}

/* marca projeto como concuído, alterando cor para verde. */
li.concluido {
    background-color: #27ae60;
    background-image: url(concluido.png);    
}

li.concluido:hover {
    background-color: #52be7f;
}

/* os links possuem comportamento in-line, com o comando "display: block;" 
esse comportamento muda para caixa, deixando o elemento com maior dimensão. */
a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 100px;
    display: block; 
    background-image: url('seta.png');
    background-repeat: no-repeat;
    background-position: right; 
/*  background-image: #ffffff url('seta.png') no-repeat right center;  forma resumida. */   
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px; /* espaço entre as letras. */
    -webkit-font-smoothing: antialiased; /* suavisa expessura da letra. */
    -moz-osx-font-smoothing: auto;
}

