body {
    background-color: #9b9b9b;
    padding: 90px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

table {
    background-color: #ffffff;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    border-spacing: 0; /* preenche os espaços da linha entre as colunas. */
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 5px #666666;
}

table caption {
    background-color: #ffffff;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    border-radius: 3px 3px 0 0;
     box-shadow: 0 -2px 3px #666666;
}

table thead th {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

table td, table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
}

tbody td:first-child, thead th:first-child {
    width: 60px;
    text-align: center;
}

tbody tr:hover {
    background-color: #eeeeee;
}

tfoot {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
}

tfoot td {
    padding-right: 20px;
}

tfoot td span {
<<<<<<< HEAD
    margin-right: 30px;
    margin-left: 30xp;
}

tfoot td img {
    margin-left: 20px;
=======
    margin-right: 50px;
    margin-left: 30xp;
}

tfood td img {
    margin-left: 30px;
>>>>>>> b7f9942ee009d2185e2f9c168836f40c6dc528ed
}

select {
    border: none;
    background-color: transparent;
}