body {
    background-color: green;
    color: white;
    padding-top: 100px;
}

div {
    width: 100px; /* largura da caixa. */
    height: 100px; /* altura da caixa. */
    background-color: grey; /* cor de funod da caixa. */
    border-style: solid; /* tipo de borda da caixa. */
    border-width: 10px; /* largura da borda da caixa. */
    border-color: red; /* cor da borda da caixa. */
    display: flex; /* forma de exibir elementos da caixa, sem isso não é possível alinhar. */ 
    align-items: center; /* alinha o conteúdo no centro da caixa. */
    justify-content: center; /* centraliza no meio da caixa. */
    
    margin: 5px;
    float: left;  
}

#especial {
    background-color: blue;
}

.outracor {
    background-color: orange;
}

/*http://127.0.0.1:49362/index.html*/