
article {
    background-color: #fff; 
    border-right: 1px solid #e1e1e1;
}
article .content h3 {
    color: #d0021b;
    font-size: 1.125em;
    font-weight: 900;
    border-bottom: 1px solid #d0021b;
    padding-bottom: 5px;
    padding-top: 20px;
}
article .content h3 i {
    margin-right: 10px;
}
article p {
    color: #666666;
    font-weight: 400;
    font-size: 0.938em;
}
article .content {
    padding: 20px 50px 50px 50px;
}
article .instituicao h4 {
    font-size: 1.063em;
    font-weight: 700;
    margin-bottom: 5px;
    color: #3a3c40;
}
article .instituicao h5 {
    font-size: 0.938em; 
    margin-bottom: 0px; 
    color: #3a3c40;
    font-weight: 400;  

}

article .instituicao small {
    font-size: 0.938em;
    font-weight: 300;
    color: #3a3c40;
}