
body {
    background-color: #f5f8f9;
    font-family: Lato, sans-serif;
}
aside {
    background-color: #3a3c40;
    text-align: center;
    padding: 50px !important; /* a propriedade "!important" sobrescreve o framework. */   
 
}
aside h1 {
    color: #f5a623;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}
aside h2 {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}
aside .button {
    background-color: #f6a623 !important;
    text-transform: uppercase;
    font-size: 0.875em !important;
    padding: 20px 30px;
    font-weight: 700;
    margin-top: 10px;
    box-shadow: 0 4px 0  0 rgba(245,166,35,0.6);
}






aside .redes-sociais {
    margin-top: 15px;
}
aside .redes-sociais li {
    display: inline;
    margin-right: 5px;
}
aside .redes-sociais li i {
    color: #ffffff;
    font-size: 30px;
}





aside .habilidades {
    text-align: left;
    margin-top: 30px;
}
aside .habilidades h3 {
    color: #eee;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px;
}
aside .habilidades small {
    color: #8fa4af;
    font-size: 0.750em;
    font-weight: 400;
}
aside .habilidades progress {
    margin-bottom: 5px;
}

/* necessidade de usar pseudo-seletor devido navegador não implementar as novidades do HTML 5. */
aside .habilidades progress::-webkit-progress-value {
    background-color: #eeb65a !important;
}

