@import url(header.css);
@import url(cartao.css);
@import url(resumos.css);

/*------------------------------ Centraliza elemento. */
html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* alinha o elemento na vertical. */

    background-image: url(../images/imagemFundo.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'muliregular';
    font-size: 12px;
}


/*------------------------------ Reset browser. */
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.checkout {
    width: 688px;
    height: 558px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
}


main {
    display: flex;
}
